/* 
Custom Styling CV - CSS overwrite
 */

#theme-wrapper
 {
  padding: 0 0;
  height: 100%;
}

.post-body {
  gap: 0;
}




/* 
CV Section Title -- custom styling
 */
h3 {
  border-top: 1px solid var(--c-border);
  font-weight: bold;
  font-size: clamp(1rem, 1.5vw, 1.125rem)!important;
  text-transform: uppercase;
  padding: 2rem 0 0 2rem;
  text-transform: capitalize;
}


/* 
List content stylying
*/

.cv-section.list {
  margin-bottom: 2.5rem;
}

.cv-item {
  border-bottom: 1px solid var(--border-light);
}
.cv-item:last-child {
  border-bottom: none;
}

.cv-section.list .cv-item {
  margin: 0 2rem;
}

.cv-section.grid {
  margin: 0 2rem;
}



.cv-title {
  color: var(--c-text-primary);
  text-transform: capitalize;
}

.cv-org {
  color: var(--c-text-secondary);
  font-weight: normal;
}

.cv-org.grid {
  color: var(--c-text-secondary);
  font-weight: 600;
  font-size: 1rem;
}

.cv-details {
  color: var(--c-text-secondary);
}

.achievements {
  margin-bottom: 0!important;
}

.achievements li {
  margin-bottom: .25rem;
}

.achievements li span {
  color: var(--c-border);
  margin-right: 3px;
  font-size: .7rem;
}

.cv-doi {
  font-size: 0.85rem;
  color: var(--c-text-secondary);
  margin-top: 0;
  margin-bottom: 0!important;
}

.cv-doi a {
  color: var(--c-accent);
  text-decoration: none;
}

.cv-doi a:hover {
  text-decoration: underline;
}


/* 
Grid Styling 
*/
.cv-section.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.cv-item.grid {
  background-color: var(--c-background);
  border: 1px solid var(--c-border);
  border-radius: 14px;
  padding: 1.25rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-bottom: 0;
}

.cv-item.grid:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.cv-details.grid {
  margin-top: 0;
  margin-left: 1.25rem;
  padding-left: 0;
}

.cv-details.grid li {
  font-size: 0.9rem;
  list-style-type: disc;
}

.cv-details.grid li:last-child {
  margin-bottom: 0;
}

#cv-logo {
 margin: 0; 
 border-radius: 8px; 
 height: 50px; 
 width: 50px;
 background-repeat: no-repeat;
 background-size: cover;
 overflow: hidden;
}

#cv-logo img {
 margin: 0!important; 
 width: 100%;
 height: 100%;

}

@media (max-width: 768px) {
  .cv-section.grid {
    grid-template-columns: 1fr;
  }
}


/* 
Skills, Tools, Other Info 
*/

.cv-section.languages, .cv-section.skills, .cv-section.tech {
  margin-top: 2rem;
  margin-bottom: 4rem;
} 

.tools-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
  margin: 0 2rem 0 2rem;
}

.skill-card {
  background-color: var(--c-background);
  border-radius: 10px;
  overflow: hidden;
  padding: 1rem;
  border: 1px solid var(--c-border);
  transition: transform 0.2s ease;
}

.skill-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.skill-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.skill-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.75rem;
  background-color: #FFF;
  border-radius: 8px;
  border: 1px solid var(--c-border);
  padding: 0.5rem;
}

.skill-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.skill-name {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--c-text-primary);
}

.skill-progress-container {
  width: 100%;
  height: 8px;
  background-color: var(--c-background-gray);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.skill-progress-bar {
  height: 100%;
  background: linear-gradient(90deg, hsla(240, 100%, 76%, 1) 0%, hsla(356, 63%, 54%, 1) 100%);
  border-radius: 4px;
}

.skill-level {
  font-size: 0.85rem;
  color: var(--c-text-secondary);
  text-align: right;
}

.tag-link.skill {
  color: var(--c-text-secondary);
  border: 1px solid var(--c-border);
  background: var(--search-bg);
}


/* Responsive adjustments */
@media (max-width: 768px) {
  .skills-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}


/* 
Collapsible Details Styling 
*/
details {
  margin-top: 0.5rem;
}

details summary {
  cursor: pointer;
  color: var(--c-link-hover);
  font-size: 0.875rem;
  font-weight: 500;
}

details summary:hover {
  text-decoration: underline;
}

.details-content {
  margin-top: 0.5rem;
  padding: 1rem;
  background-color: var(--c-background-gray);
  border-radius: 8px;
  font-size: 0.875rem;
  line-height: 1.4;
}


/* cv download */

.cv-actions-container {
  text-align: right;
}
